*¨{
    padding: 0;
    margin: 0; 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #0E2932;
    height: 100px;
    width: 100%;
}

.link{
    position: absolute;
    padding: 50px 50px;

}

.logo{
        height: 100px;

}

nav ul{
    float: right;
    margin-right: 20px; 
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0px 5px;

}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    text-transform: uppercase;

}

li a.link, li a:hover{
    background: #0E2932;
    transition: .5s;
}

.checkButton{
    font-size: 40px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

#check{
    display: none;
}

section{
 background: url(Img_3.jpg) no-repeat;
 background-size: cover;
 background-position: center center;
 height: calc(100vh - 80px);
}


